
.btn{
    
    padding: 10px;
    border-radius: 14px;
    margin: 7px;
  
   
  

}
.textbox{
    border: 3px solid rgb(0, 0, 0);
    width:500px;
    height: 350px;
    font-family: sans-serif;
  
}